* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #dddddd;
}

.container {
  max-width: 95%;
  margin: auto;
  padding: 20px;
}

.container-navbar {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  color: #ffffff;
  background-color: #404040;
}

.navbar-logo a {
  font-size: 18px;
  padding-left: 5px;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  color: #ffffff;
}

.navbar-logo a:hover {
  transition: color 0.2s ease;
  color: #999999;
}

.container-checkout {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkout-form,
.checkout-summary {
  width: 48%;
}

.checkout-form h2,
.checkout-summary h2 {
  margin-bottom: 15px;
  color: #333333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group-cards img {
  width: 10%;
  height: 10%;
  padding: 15px;
}

button {
  background-color: #404040;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

button:hover {
  background-color: #555555;
}

.checkout-summary p {
  margin: 10px 0;
  font-size: 16px;
  color: #333333;
}

.checkout-summary hr {
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 10px 0;
}

.checkout-summary p.total {
  font-weight: bold;
  font-size: 18px;
}
